* {
    margin: 0;
    padding: 0;
    border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
.wrapper {
    max-width: 1350px;
    width: 86%; 
    margin: 0 auto;
}

header {
    padding: 15px 0 10px;
    text-align: center;
    border-bottom: 3px solid #d94821;
}